In [1]:
print("Hello World")

Hello World

In [2]:
print("sonal")

sonal

#### Data Types

In [1]:
x=12
type(x)

int

In [2]:
x=4.7
type(x)

float

In [3]:
x="hello"
type(x)

str

In [6]:
x=True
type(x)

bool

In [7]:
x="False"
type(x)

str

In [8]:
x=False
type(x)

bool

## variables

In [10]:
names="a","b"
names

('a', 'b')

In [11]:
2names="a","b"
2names

SyntaxError: invalid decimal literal (1280736696.py, line 1)

In [12]:
n2ames="a","b"
n2ames

('a', 'b')

## variable name should not start with a numbers

In [13]:
names-list="a","b","c"
names-list

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2331604745.py, line 1)

In [14]:
names_list="a","b","c"
names_list

('a', 'b', 'c')

### only allowed special symbol is underscore

In [15]:
Name="Sonal"
Age=21
Income=100000

In [16]:
print(Age)
print(Name)
print(Income)

21
Sonal
100000

In [17]:
name list="sona","piyu"
name list

SyntaxError: invalid syntax (3423430117.py, line 1)

### Space Is Not allowed

## *List*

In [23]:
sample_list=[1,2,3,4,"hii",-3,11,2,2,6.1]
sample_list

[1, 2, 3, 4, 'hii', -3, 11, 2, 2, 6.1]

In [24]:
type(sample_list)

list

In [25]:
sample_list[0]

1

In [26]:
sample_list[5]

-3

In [27]:
sample_list[4]

'hii'

In [28]:
sample_list[10]

IndexError: list index out of range

In [29]:
sample_list[-2]

2

### negative index always starts fron negative one from right side

In [31]:
sample_list[0]=100
sample_list

[100, 2, 3, 4, 'hii', -3, 11, 2, 2, 6.1]

#### If we want to change the value from list

###Elements in a list are seperated by comma and enclosed in square brackets

###list is hetrogenous-> Multiple data types

###List can have duplicates

###List is mutable->make changes

## Tuple

#### contain object
#### Heterogenous-> allows multiple data types
#### Can have duplicates
#### Immutable->cannot make changes
#### In tuple elements are seperated by comma,enclosed in paranthesis or without any brackets

In [33]:
sample_tuple=(1,2,4,6,"hi",3.1)
sample_tuple

(1, 2, 4, 6, 'hi', 3.1)

In [34]:
type(sample_tuple)

tuple

In [35]:
sample_tuple2=1,2,4,6,"hi",3.1
sample_tuple2

(1, 2, 4, 6, 'hi', 3.1)

In [36]:
sample_tuple[2]

4

In [37]:
sample_tuple[10]

IndexError: tuple index out of range

In [38]:
sample_tuple[0]=120

TypeError: 'tuple' object does not support item assignment

## Dictionary

### 1) Key-value pair
### 2) { }
### 3) Indexing-square brackets
### 4) Mutable

In [39]:
dict={'Name':"Sonal","Hobbies":["cooking","dancing","painting"],1:23}
dict

{'Name': 'Sonal', 'Hobbies': ['cooking', 'dancing', 'painting'], 1: 23}

In [40]:
dict[keys]

NameError: name 'keys' is not defined

In [41]:
dict.keys()

dict_keys(['Name', 'Hobbies', 1])

In [42]:
dict.values()

dict_values(['Sonal', ['cooking', 'dancing', 'painting'], 23])

In [44]:
dict['Name']="Snehal"
dict

{'Name': 'Snehal', 'Hobbies': ['cooking', 'dancing', 'painting'], 1: 23}

In [45]:
del dict['Name']
dict

{'Hobbies': ['cooking', 'dancing', 'painting'], 1: 23}

In [46]:
### Add a new key values
dict.update({"class":"TE"})
dict

{'Hobbies': ['cooking', 'dancing', 'painting'], 1: 23, 'class': 'TE'}

In [47]:
len(dict)

3

In [48]:
type(dict)

dict

In [49]:
dict.items()

dict_items([('Hobbies', ['cooking', 'dancing', 'painting']), (1, 23), ('class', 'TE')])

In [51]:
dict.get("Hobbies")

['cooking', 'dancing', 'painting']

In [52]:
dict.get("class")

'TE'

## Sets

In [53]:
set={1,2,3,6,4,5,6,1,"hi","TE",-2,2.4,6,9,54,1.0}
set

{-2, 1, 2, 2.4, 3, 4, 5, 54, 6, 9, 'TE', 'hi'}

In [54]:
set[0]
set

TypeError: 'set' object is not subscriptable

In [55]:
set[0]=9
set

TypeError: 'set' object does not support item assignment

In [56]:
set.add(100)
set

{-2, 1, 100, 2, 2.4, 3, 4, 5, 54, 6, 9, 'TE', 'hi'}

In [57]:
set.remove(5)
set

{-2, 1, 100, 2, 2.4, 3, 4, 54, 6, 9, 'TE', 'hi'}

### Set does not allow duplicates
### we cannot retrive the set using index
### Set is mutable
### Set has {}
### Ordered-First place